html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

a {
  text-decoration: none;
  outline: none; }

button {
  outline: none; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 100vh; }
  .app__page {
    background: #fafafa;
    -webkit-box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
            box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
    width: 90vw;
    z-index: 1; }

.sidebar {
  width: 10vw;
  background: #fafafa; }
  .sidebar .sidebar__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0.5rem 0; }

@-webkit-keyframes dash-logo-animation {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 100% 0; } }

@keyframes dash-logo-animation {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 100% 0; } }

.sidebar-logo__text {
  font-family: "Leckerli One", cursive;
  font-size: 2.25rem;
  color: rgba(56, 73, 170, 0.3);
  position: relative;
  display: inline-block; }
  .sidebar-logo__text::after {
    content: attr(data-text);
    color: #3849aa;
    position: absolute;
    left: -0.25rem;
    top: -0.25rem;
    text-shadow: -0.1rem -0.1rem #fafafa; }
  .sidebar-logo__text::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: -o-linear-gradient(45deg, #fafafa 12.5%, transparent 12.5%, transparent 37.5%, #fafafa 37.5%, #fafafa 62.5%, transparent 62.5%, transparent 87.5%, #fafafa 87.5%);
    background: linear-gradient(45deg, #fafafa 12.5%, transparent 12.5%, transparent 37.5%, #fafafa 37.5%, #fafafa 62.5%, transparent 62.5%, transparent 87.5%, #fafafa 87.5%);
    background-size: 0.5rem 0.5rem;
    -webkit-animation: dash-logo-animation 7s infinite linear;
            animation: dash-logo-animation 7s infinite linear; }

.sidebar-user__avatar-wrapper {
  position: relative;
  width: 6rem;
  height: 6rem; }
  .sidebar-user__avatar-wrapper:hover .sidebar-user__overlay {
    opacity: 1; }
  .sidebar-user__avatar-wrapper:hover .sidebar-user__icon {
    opacity: 1;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }
  .sidebar-user__avatar {
    border-radius: 50%;
    -webkit-box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.2);
    max-width: 100%; }
  .sidebar-user__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(56, 73, 170, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s; }
  .sidebar-user__icon {
    color: #ffffff;
    font-size: 2rem;
    -webkit-transform: scale(5);
        -ms-transform: scale(5);
            transform: scale(5);
    opacity: 0;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, -webkit-transform 0.2s;
    -o-transition: transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s; }

.sidebar-user__name-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.sidebar-user__name {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.54);
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s; }
  .sidebar-user__name:hover, .sidebar-user__name:focus {
    color: #3849aa; }

.sidebar-user__status {
  font-size: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(0, 0, 0, 0.38); }
  .sidebar-user__status::after {
    content: "";
    margin-left: 0.25rem;
    width: 0.4rem;
    height: 0.4rem;
    background: rgba(0, 0, 0, 0.38);
    border-radius: 50%; }
  .sidebar-user__status.sidebar-user__status--online {
    color: #32cb00; }
    .sidebar-user__status.sidebar-user__status--online::after {
      background: #32cb00; }

@-webkit-keyframes alert-shake {
  5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
    -webkit-transform: translateX(-0.15rem);
            transform: translateX(-0.15rem); }
  10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100% {
    -webkit-transform: translateX(0.15rem);
            transform: translateX(0.15rem); } }

@keyframes alert-shake {
  5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
    -webkit-transform: translateX(-0.15rem);
            transform: translateX(-0.15rem); }
  10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100% {
    -webkit-transform: translateX(0.15rem);
            transform: translateX(0.15rem); } }

@-webkit-keyframes alert-pulse {
  20% {
    -webkit-box-shadow: 0 0 0 0 rgba(214, 157, 34, 0.7);
            box-shadow: 0 0 0 0 rgba(214, 157, 34, 0.7); }
  80% {
    -webkit-box-shadow: 0 0 0 0.75rem rgba(214, 157, 34, 0);
            box-shadow: 0 0 0 0.75rem rgba(214, 157, 34, 0); } }

@keyframes alert-pulse {
  20% {
    -webkit-box-shadow: 0 0 0 0 rgba(214, 157, 34, 0.7);
            box-shadow: 0 0 0 0 rgba(214, 157, 34, 0.7); }
  80% {
    -webkit-box-shadow: 0 0 0 0.75rem rgba(214, 157, 34, 0);
            box-shadow: 0 0 0 0.75rem rgba(214, 157, 34, 0); } }

.sidebar-nav {
  width: 100%; }
  .sidebar-nav__header {
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.38); }
  .sidebar-nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.9rem;
    padding: 0 1rem;
    height: 2.5rem;
    position: relative; }
    .sidebar-nav__item:is(:hover, :focus) {
      outline: none; }
      .sidebar-nav__item:is(:hover, :focus) .sidebar-nav__title,
      .sidebar-nav__item:is(:hover, :focus) .sidebar-nav__icon {
        color: #3849aa; }
    .sidebar-nav__item.sidebar-nav__item--primary::before {
      content: "";
      width: 100%;
      height: 100%;
      background: #3849aa;
      position: absolute;
      left: 100%;
      top: 0;
      opacity: 0; }
    .sidebar-nav__item.sidebar-nav__item--primary:is(:hover, :focus)::before {
      left: 0;
      width: 0.2rem;
      opacity: 1;
      -webkit-transition-property: opacity, width, left;
      -o-transition-property: opacity, width, left;
      transition-property: opacity, width, left;
      -webkit-transition-duration: 0.35s;
           -o-transition-duration: 0.35s;
              transition-duration: 0.35s; }
    .sidebar-nav__item.sidebar-nav__item--secondary .sidebar-nav__icon-wrapper::after {
      content: "arrow_forward";
      font-family: "Material Icons";
      font-size: 1.25rem;
      color: rgba(0, 0, 0, 0.54);
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
              transform: translateX(-100%);
      opacity: 0;
      color: #d69d22; }
    .sidebar-nav__item.sidebar-nav__item--secondary .sidebar-nav__notification {
      background: -o-linear-gradient(45deg, #d69d22 0, #e6bb5f 75%, #d69d22 100%);
      background: linear-gradient(45deg, #d69d22 0, #e6bb5f 75%, #d69d22 100%);
      -webkit-box-shadow: 0 0.75rem 1.25rem rgba(214, 157, 34, 0.2);
              box-shadow: 0 0.75rem 1.25rem rgba(214, 157, 34, 0.2); }
    .sidebar-nav__item.sidebar-nav__item--secondary:is(:hover, :focus) ::after {
      opacity: 1;
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0);
      -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
      transition: opacity 0.2s, -webkit-transform 0.2s;
      -o-transition: opacity 0.2s, transform 0.2s;
      transition: opacity 0.2s, transform 0.2s;
      transition: opacity 0.2s, transform 0.2s, -webkit-transform 0.2s; }
    .sidebar-nav__item.sidebar-nav__item--secondary:is(:hover, :focus) .sidebar-nav__title {
      color: #d69d22; }
    .sidebar-nav__item.sidebar-nav__item--secondary:is(:hover, :focus) .sidebar-nav__icon {
      color: #d69d22;
      opacity: 0;
      -webkit-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
              transform: translateX(-100%);
      -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
      transition: opacity 0.2s, -webkit-transform 0.2s;
      -o-transition: opacity 0.2s, transform 0.2s;
      transition: opacity 0.2s, transform 0.2s;
      transition: opacity 0.2s, transform 0.2s, -webkit-transform 0.2s; }
  .sidebar-nav__icon-wrapper {
    position: relative;
    margin-right: 1rem;
    width: 1.5rem; }
  .sidebar-nav__icon {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.54);
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s; }
  .sidebar-nav__icon--alert {
    -webkit-animation: alert-shake 2s infinite, alert-pulse 2s infinite;
            animation: alert-shake 2s infinite, alert-pulse 2s infinite;
    border-radius: 50%;
    color: #d69d22; }
  .sidebar-nav__title {
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s; }
  .sidebar-nav__notification {
    position: absolute;
    right: 1rem;
    font-size: 0.625rem;
    font-weight: 400;
    color: #ffffff;
    background: -o-linear-gradient(45deg, #3849aa 0, #6b79ce 50%, #3849aa 100%);
    background: linear-gradient(45deg, #3849aa 0, #6b79ce 50%, #3849aa 100%);
    padding: 0.25rem 0.5rem;
    border-radius: 0.625rem;
    -webkit-box-shadow: 0 0.75rem 1.25rem rgba(56, 73, 170, 0.2);
            box-shadow: 0 0.75rem 1.25rem rgba(56, 73, 170, 0.2); }

/*# sourceMappingURL=styles.css.map */
