html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

a {
  text-decoration: none;
  outline: none; }

button {
  outline: none; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  overflow-x: hidden; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

span,
p {
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.9rem;
  line-height: 1.25; }

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 100vh;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56);
       -o-transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56);
          transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56); }
  .app__page {
    background: #fafafa;
    -webkit-box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
            box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
    width: calc(100% - 10rem);
    z-index: 1; }

.sidebar {
  width: 10rem;
  background: #fafafa;
  -webkit-transition-property: width;
  -o-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56);
       -o-transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56);
          transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56);
  position: relative; }
  .sidebar .sidebar__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0.5rem 0; }

.sidebar-toggler__checkbox {
  display: none; }
  .sidebar-toggler__checkbox:checked + .sidebar {
    width: 3.5rem; }
    .sidebar-toggler__checkbox:checked + .sidebar .sidebar__section:nth-of-type(1) {
      height: 0;
      padding: 0;
      overflow: hidden; }
    .sidebar-toggler__checkbox:checked + .sidebar .sidebar__section:nth-of-type(2) {
      margin-top: 3rem; }
    .sidebar-toggler__checkbox:checked + .sidebar .sidebar-toggler {
      width: 100%;
      height: 3rem; }
    .sidebar-toggler__checkbox:checked + .sidebar .sidebar-toggler__icon::before {
      -webkit-transform: rotate(30deg);
          -ms-transform: rotate(30deg);
              transform: rotate(30deg); }
    .sidebar-toggler__checkbox:checked + .sidebar .sidebar-toggler__icon::after {
      -webkit-transform: rotate(-30deg);
          -ms-transform: rotate(-30deg);
              transform: rotate(-30deg); }
    .sidebar-toggler__checkbox:checked + .sidebar .sidebar-user__avatar-wrapper {
      height: 3rem;
      width: 3rem; }
    .sidebar-toggler__checkbox:checked + .sidebar .sidebar-user__name,
    .sidebar-toggler__checkbox:checked + .sidebar .sidebar-user__status {
      font-size: 0.625rem; }
    .sidebar-toggler__checkbox:checked + .sidebar .sidebar-nav__header::before {
      content: attr(data-toggled-shortcut);
      text-transform: uppercase;
      margin-right: 2rem; }
    .sidebar-toggler__checkbox:checked + .sidebar .sidebar-nav__item {
      z-index: 2;
      overflow: hidden;
      width: 3.5rem; }
      .sidebar-toggler__checkbox:checked + .sidebar .sidebar-nav__item:hover {
        background: #fafafa;
        width: 10rem;
        -webkit-box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);
                box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15); }
    .sidebar-toggler__checkbox:checked + .sidebar .sidebar-nav__notification {
      right: 0.25rem;
      top: 0.25rem;
      padding: 0.1rem 0.25rem;
      font-size: 0.5rem; }
  .sidebar-toggler__checkbox:checked ~ .app__page {
    width: calc(100% - 3.5rem); }

.sidebar-toggler {
  position: absolute;
  right: 0;
  top: 0;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  z-index: 1; }
  .sidebar-toggler:hover .sidebar-toggler__icon::before, .sidebar-toggler:hover .sidebar-toggler__icon::after {
    background-color: #3849aa; }
  .sidebar-toggler__icon {
    width: 0.75rem;
    height: 0.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .sidebar-toggler__icon::before, .sidebar-toggler__icon::after {
      content: "";
      position: absolute;
      width: 0.75rem;
      height: 0.15rem;
      background: #e0e0e0;
      -webkit-transition-property: background, -webkit-transform;
      transition-property: background, -webkit-transform;
      -o-transition-property: background, transform;
      transition-property: background, transform;
      transition-property: background, transform, -webkit-transform;
      -webkit-transition-duration: 0.35s;
           -o-transition-duration: 0.35s;
              transition-duration: 0.35s;
      -webkit-transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56);
           -o-transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56);
              transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56); }
    .sidebar-toggler__icon::before {
      top: 0;
      -webkit-transform: rotate(-30deg);
          -ms-transform: rotate(-30deg);
              transform: rotate(-30deg); }
    .sidebar-toggler__icon::after {
      bottom: 0;
      -webkit-transform: rotate(30deg);
          -ms-transform: rotate(30deg);
              transform: rotate(30deg); }

@-webkit-keyframes dash-logo-animation {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 100% 0; } }

@keyframes dash-logo-animation {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 100% 0; } }

.sidebar-logo__text {
  font-family: "Leckerli One", cursive;
  font-size: 2.25rem;
  color: rgba(56, 73, 170, 0.3);
  position: relative;
  display: inline-block; }
  .sidebar-logo__text::after {
    content: attr(data-text);
    color: #3849aa;
    position: absolute;
    left: -0.25rem;
    top: -0.25rem;
    text-shadow: -0.1rem -0.1rem #fafafa; }
  .sidebar-logo__text::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: -o-linear-gradient(45deg, #fafafa 12.5%, transparent 12.5%, transparent 37.5%, #fafafa 37.5%, #fafafa 62.5%, transparent 62.5%, transparent 87.5%, #fafafa 87.5%);
    background: linear-gradient(45deg, #fafafa 12.5%, transparent 12.5%, transparent 37.5%, #fafafa 37.5%, #fafafa 62.5%, transparent 62.5%, transparent 87.5%, #fafafa 87.5%);
    background-size: 0.5rem 0.5rem;
    -webkit-animation: dash-logo-animation 7s infinite linear;
            animation: dash-logo-animation 7s infinite linear; }

.sidebar-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .sidebar-user__avatar-wrapper {
    position: relative;
    width: 6rem;
    height: 6rem;
    -webkit-transition-property: width, height;
    -o-transition-property: width, height;
    transition-property: width, height;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56);
         -o-transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56);
            transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56); }
    .sidebar-user__avatar-wrapper:hover .sidebar-user__overlay {
      opacity: 1; }
    .sidebar-user__avatar-wrapper:hover .sidebar-user__icon {
      opacity: 1;
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1); }
    .sidebar-user__avatar {
      border-radius: 50%;
      -webkit-box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.2);
              box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.2);
      max-width: 100%; }
    .sidebar-user__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(56, 73, 170, 0.5);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border-radius: 50%;
      overflow: hidden;
      opacity: 0;
      -webkit-transition-property: opacity;
      -o-transition-property: opacity;
      transition-property: opacity;
      -webkit-transition-duration: 0.2s;
           -o-transition-duration: 0.2s;
              transition-duration: 0.2s;
      -webkit-transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56);
           -o-transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56);
              transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56); }
    .sidebar-user__icon {
      color: #ffffff;
      font-size: 2rem;
      -webkit-transform: scale(5);
          -ms-transform: scale(5);
              transform: scale(5);
      opacity: 0;
      -webkit-transition-property: opacity, -webkit-transform;
      transition-property: opacity, -webkit-transform;
      -o-transition-property: transform, opacity;
      transition-property: transform, opacity;
      transition-property: transform, opacity, -webkit-transform;
      -webkit-transition-duration: 0.2s;
           -o-transition-duration: 0.2s;
              transition-duration: 0.2s;
      -webkit-transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56);
           -o-transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56);
              transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56); }
  .sidebar-user__name-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0.75rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .sidebar-user__name {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.54);
    -webkit-transition-property: color, font-size;
    -o-transition-property: color, font-size;
    transition-property: color, font-size;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56);
         -o-transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56);
            transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56); }
    .sidebar-user__name:hover, .sidebar-user__name:focus {
      color: #3849aa; }
  .sidebar-user__status {
    font-size: 0.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: rgba(0, 0, 0, 0.38);
    -webkit-transition-property: font-size;
    -o-transition-property: font-size;
    transition-property: font-size;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56);
         -o-transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56);
            transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56); }
    .sidebar-user__status::after {
      content: "";
      margin-left: 0.25rem;
      width: 0.4rem;
      height: 0.4rem;
      background: rgba(0, 0, 0, 0.38);
      border-radius: 50%; }
    .sidebar-user__status.sidebar-user__status--online {
      color: #32cb00; }
      .sidebar-user__status.sidebar-user__status--online::after {
        background: #32cb00; }
  .sidebar-user.sidebar-user--slim {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .sidebar-user.sidebar-user--slim .sidebar-user__avatar-wrapper {
      width: 2rem;
      height: 2rem; }
    .sidebar-user.sidebar-user--slim .sidebar-user__name-wrapper {
      margin-left: 0.25rem;
      margin-top: 0.5rem;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
    .sidebar-user.sidebar-user--slim .sidebar-user__name {
      font-weight: 400; }
    .sidebar-user.sidebar-user--slim .sidebar-user__status {
      position: relative; }
      .sidebar-user.sidebar-user--slim .sidebar-user__status::after {
        position: absolute;
        left: -0.9rem;
        margin-left: 0;
        border: 1px solid #fafafa; }
    .sidebar-user.sidebar-user--slim .sidebar-user__icon {
      font-size: 1rem; }

@-webkit-keyframes alert-shake {
  5%,
  15%,
  25%,
  35%,
  45%,
  55%,
  65%,
  75%,
  85%,
  95% {
    -webkit-transform: translateX(-0.15rem);
            transform: translateX(-0.15rem); }
  10%,
  20%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80%,
  90%,
  100% {
    -webkit-transform: translateX(0.15rem);
            transform: translateX(0.15rem); } }

@keyframes alert-shake {
  5%,
  15%,
  25%,
  35%,
  45%,
  55%,
  65%,
  75%,
  85%,
  95% {
    -webkit-transform: translateX(-0.15rem);
            transform: translateX(-0.15rem); }
  10%,
  20%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80%,
  90%,
  100% {
    -webkit-transform: translateX(0.15rem);
            transform: translateX(0.15rem); } }

@-webkit-keyframes alert-pulse {
  20% {
    -webkit-box-shadow: 0 0 0 0 rgba(214, 157, 34, 0.7);
            box-shadow: 0 0 0 0 rgba(214, 157, 34, 0.7); }
  80% {
    -webkit-box-shadow: 0 0 0 0.75rem rgba(214, 157, 34, 0);
            box-shadow: 0 0 0 0.75rem rgba(214, 157, 34, 0); } }

@keyframes alert-pulse {
  20% {
    -webkit-box-shadow: 0 0 0 0 rgba(214, 157, 34, 0.7);
            box-shadow: 0 0 0 0 rgba(214, 157, 34, 0.7); }
  80% {
    -webkit-box-shadow: 0 0 0 0.75rem rgba(214, 157, 34, 0);
            box-shadow: 0 0 0 0.75rem rgba(214, 157, 34, 0); } }

.sidebar-nav {
  width: 100%; }
  .sidebar-nav__header {
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.38); }
  .sidebar-nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.9rem;
    padding: 0 1rem;
    height: 2.5rem;
    position: relative; }
    .sidebar-nav__item:is(:hover, :focus) {
      outline: none; }
      .sidebar-nav__item:is(:hover, :focus) .sidebar-nav__title,
      .sidebar-nav__item:is(:hover, :focus) .sidebar-nav__icon {
        color: #3849aa; }
    .sidebar-nav__item.sidebar-nav__item--primary::before {
      content: "";
      width: 100%;
      height: 100%;
      background: #3849aa;
      position: absolute;
      left: 100%;
      top: 0;
      opacity: 0; }
    .sidebar-nav__item.sidebar-nav__item--primary:is(:hover, :focus)::before {
      left: 0;
      width: 0.2rem;
      opacity: 1;
      -webkit-transition-property: opacity, width, left;
      -o-transition-property: opacity, width, left;
      transition-property: opacity, width, left;
      -webkit-transition-duration: 0.35s;
           -o-transition-duration: 0.35s;
              transition-duration: 0.35s; }
    .sidebar-nav__item.sidebar-nav__item--secondary .sidebar-nav__icon-wrapper::after {
      content: "arrow_forward";
      font-family: "Material Icons";
      font-size: 1.25rem;
      color: rgba(0, 0, 0, 0.54);
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
              transform: translateX(-100%);
      opacity: 0;
      color: #d69d22; }
    .sidebar-nav__item.sidebar-nav__item--secondary .sidebar-nav__notification {
      background: -o-linear-gradient(45deg, #d69d22 0, #e6bb5f 75%, #d69d22 100%);
      background: linear-gradient(45deg, #d69d22 0, #e6bb5f 75%, #d69d22 100%);
      -webkit-box-shadow: 0 0.75rem 1.25rem rgba(214, 157, 34, 0.2);
              box-shadow: 0 0.75rem 1.25rem rgba(214, 157, 34, 0.2); }
    .sidebar-nav__item.sidebar-nav__item--secondary:is(:hover, :focus) ::after {
      opacity: 1;
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0);
      -webkit-transition-property: opacity, -webkit-transform;
      transition-property: opacity, -webkit-transform;
      -o-transition-property: opacity, transform;
      transition-property: opacity, transform;
      transition-property: opacity, transform, -webkit-transform;
      -webkit-transition-duration: 0.2s;
           -o-transition-duration: 0.2s;
              transition-duration: 0.2s;
      -webkit-transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56);
           -o-transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56);
              transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56); }
    .sidebar-nav__item.sidebar-nav__item--secondary:is(:hover, :focus) .sidebar-nav__title {
      color: #d69d22; }
    .sidebar-nav__item.sidebar-nav__item--secondary:is(:hover, :focus) .sidebar-nav__icon {
      color: #d69d22;
      opacity: 0;
      -webkit-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
              transform: translateX(-100%);
      -webkit-transition-property: opacity, -webkit-transform;
      transition-property: opacity, -webkit-transform;
      -o-transition-property: opacity, transform;
      transition-property: opacity, transform;
      transition-property: opacity, transform, -webkit-transform;
      -webkit-transition-duration: 0.2s;
           -o-transition-duration: 0.2s;
              transition-duration: 0.2s;
      -webkit-transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56);
           -o-transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56);
              transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56); }
  .sidebar-nav__icon-wrapper {
    position: relative;
    margin-right: 1rem;
    width: 1.5rem; }
  .sidebar-nav__icon {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.54);
    -webkit-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56);
         -o-transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56);
            transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56); }
  .sidebar-nav__icon--alert {
    -webkit-animation: alert-shake 2s infinite, alert-pulse 2s infinite;
            animation: alert-shake 2s infinite, alert-pulse 2s infinite;
    border-radius: 50%;
    color: #d69d22; }
  .sidebar-nav__title {
    -webkit-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56);
         -o-transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56);
            transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56); }
  .sidebar-nav__notification {
    position: absolute;
    right: 1rem;
    font-size: 0.625rem;
    font-weight: 400;
    color: #ffffff;
    background: -o-linear-gradient(45deg, #3849aa 0, #6b79ce 50%, #3849aa 100%);
    background: linear-gradient(45deg, #3849aa 0, #6b79ce 50%, #3849aa 100%);
    padding: 0.25rem 0.5rem;
    border-radius: 0.625rem;
    -webkit-box-shadow: 0 0.75rem 1.25rem rgba(56, 73, 170, 0.2);
            box-shadow: 0 0.75rem 1.25rem rgba(56, 73, 170, 0.2); }

.navbar-search__input {
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 1.5rem;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 4rem;
  height: 4rem;
  border: 0.1rem solid #3849aa;
  border-radius: 2rem;
  padding: 0 2rem;
  font-size: 2rem;
  color: #3849aa; }
  .navbar-search__input:focus {
    z-index: 2;
    top: 5rem;
    width: calc(100% - 26rem);
    outline: none;
    -webkit-transition-property: width, top;
    -o-transition-property: width, top;
    transition-property: width, top;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56);
         -o-transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56);
            transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56); }
    .navbar-search__input:focus + .app {
      -webkit-transform: perspective(70rem) rotateX(30deg);
              transform: perspective(70rem) rotateX(30deg); }

.navbar {
  height: 3.5rem;
  background: #ffffff;
  -webkit-box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .navbar-search {
    height: 2rem;
    width: 2rem;
    position: relative; }
    .navbar-search__label-icon {
      display: block;
      height: 100%;
      width: 100%;
      padding: 1.5rem;
      cursor: pointer;
      overflow: hidden;
      margin: -0.5rem; }
      .navbar-search__label-icon:hover .navbar-search__icon {
        color: #3849aa;
        text-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.2);
        font-size: calc(2rem + 50%) !important; }
      .navbar-search__label-icon:hover .navbar-search__text {
        color: #3849aa;
        text-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.2);
        left: 2.5rem;
        opacity: 1; }
    .navbar-search__icon {
      color: rgba(0, 0, 0, 0.54);
      font-size: 2rem !important;
      line-height: 1.25 !important;
      position: relative;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transition-property: color, text-shadow, font-size;
      -o-transition-property: color, text-shadow, font-size;
      transition-property: color, text-shadow, font-size;
      -webkit-transition-duration: 0.2s;
           -o-transition-duration: 0.2s;
              transition-duration: 0.2s;
      -webkit-transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56);
           -o-transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56);
              transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56); }
    .navbar-search__text {
      color: rgba(0, 0, 0, 0.54);
      line-height: 1.25;
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      opacity: 0;
      -webkit-transition-property: color, text-shadow, left, opacity;
      -o-transition-property: color, text-shadow, left, opacity;
      transition-property: color, text-shadow, left, opacity;
      -webkit-transition-duration: 0.2s;
           -o-transition-duration: 0.2s;
              transition-duration: 0.2s;
      -webkit-transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56);
           -o-transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56);
              transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56); }
  .navbar-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100%; }
    .navbar__section {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-left: 1rem;
      height: 100%; }

.navbar-lang-switcher {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .navbar-lang-switcher:hover .navbar-lang-switcher__flag--wrapper {
    height: 3rem;
    opacity: 1; }
  .navbar-lang-switcher__flag-list {
    position: absolute;
    left: 0;
    top: 100%;
    background: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.2);
    overflow: hidden; }
  .navbar-lang-switcher__flag--wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 1rem;
    height: 0;
    opacity: 0;
    -webkit-transition-property: height, opacity, -webkit-box-shadow;
    transition-property: height, opacity, -webkit-box-shadow;
    -o-transition-property: height, opacity, box-shadow;
    transition-property: height, opacity, box-shadow;
    transition-property: height, opacity, box-shadow, -webkit-box-shadow;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56);
         -o-transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56);
            transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56); }
    .navbar-lang-switcher__flag--wrapper:is(:hover, :focus):not(.navbar-lang-switcher__flag--wrapper--active) {
      background: #f5f5f5;
      -webkit-box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.2);
              box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.2); }
    .navbar-lang-switcher__flag--wrapper.navbar-lang-switcher__flag--wrapper--active {
      height: 3rem;
      opacity: 1; }
      .navbar-lang-switcher__flag--wrapper.navbar-lang-switcher__flag--wrapper--active::after {
        content: "keyboard_arrow_down";
        font-family: "Material Icons";
        color: rgba(0, 0, 0, 0.54); }
    .navbar-lang-switcher__flag {
      height: 1.75rem;
      width: 1.75rem;
      border-radius: 50%;
      -webkit-box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.2);
              box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.2);
      position: relative;
      overflow: hidden; }
      .navbar-lang-switcher__flag.navbar-lang-switcher__flag--poland {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #ffffff), color-stop(50%, #cd212a));
        background: -o-linear-gradient(top, #ffffff 50%, #cd212a 50%);
        background: linear-gradient(to bottom, #ffffff 50%, #cd212a 50%); }
      .navbar-lang-switcher__flag.navbar-lang-switcher__flag--italy {
        background: -webkit-gradient(linear, left top, right top, color-stop(33.3%, #008c45), color-stop(33.3%, #f4f5f0), color-stop(66.7%, #f4f5f0), color-stop(66.7%, #cd212a));
        background: -o-linear-gradient(left, #008c45 33.3%, #f4f5f0 33.3%, #f4f5f0 66.7%, #cd212a 66.7%);
        background: linear-gradient(to right, #008c45 33.3%, #f4f5f0 33.3%, #f4f5f0 66.7%, #cd212a 66.7%); }
      .navbar-lang-switcher__flag.navbar-lang-switcher__flag--greece {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(11.1%, #0d5eaf), color-stop(11.1%, #ffffff), color-stop(22.2%, #ffffff), color-stop(22.2%, #0d5eaf), color-stop(33.3%, #0d5eaf), color-stop(33.3%, #ffffff), color-stop(44.4%, #ffffff), color-stop(44.4%, #0d5eaf), color-stop(55.5%, #0d5eaf), color-stop(55.5%, #ffffff), color-stop(66.6%, #ffffff), color-stop(66.6%, #0d5eaf), color-stop(77.7%, #0d5eaf), color-stop(77.7%, #ffffff), color-stop(88.8%, #ffffff), color-stop(88.8%, #0d5eaf));
        background: -o-linear-gradient(top, #0d5eaf 11.1%, #ffffff 11.1%, #ffffff 22.2%, #0d5eaf 22.2%, #0d5eaf 33.3%, #ffffff 33.3%, #ffffff 44.4%, #0d5eaf 44.4%, #0d5eaf 55.5%, #ffffff 55.5%, #ffffff 66.6%, #0d5eaf 66.6%, #0d5eaf 77.7%, #ffffff 77.7%, #ffffff 88.8%, #0d5eaf 88.8%);
        background: linear-gradient(to bottom, #0d5eaf 11.1%, #ffffff 11.1%, #ffffff 22.2%, #0d5eaf 22.2%, #0d5eaf 33.3%, #ffffff 33.3%, #ffffff 44.4%, #0d5eaf 44.4%, #0d5eaf 55.5%, #ffffff 55.5%, #ffffff 66.6%, #0d5eaf 66.6%, #0d5eaf 77.7%, #ffffff 77.7%, #ffffff 88.8%, #0d5eaf 88.8%); }
        .navbar-lang-switcher__flag.navbar-lang-switcher__flag--greece::after {
          position: absolute;
          content: "";
          background-color: #0d5eaf;
          height: 56%;
          width: 56%;
          top: 0;
          left: 0;
          background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, transparent), color-stop(40%, #ffffff), color-stop(60%, #ffffff), color-stop(60%, transparent)), -webkit-gradient(linear, left top, right top, color-stop(40%, #0d5eaf), color-stop(40%, #ffffff), color-stop(60%, #ffffff), color-stop(60%, #0d5eaf));
          background: -o-linear-gradient(top, transparent 40%, #ffffff 40%, #ffffff 60%, transparent 60%), -o-linear-gradient(left, #0d5eaf 40%, #ffffff 40%, #ffffff 60%, #0d5eaf 60%);
          background: linear-gradient(to bottom, transparent 40%, #ffffff 40%, #ffffff 60%, transparent 60%), linear-gradient(to right, #0d5eaf 40%, #ffffff 40%, #ffffff 60%, #0d5eaf 60%); }
      .navbar-lang-switcher__flag.navbar-lang-switcher__flag--czechia {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #ffffff), color-stop(50%, #cd212a));
        background: -o-linear-gradient(top, #ffffff 50%, #cd212a 50%);
        background: linear-gradient(to bottom, #ffffff 50%, #cd212a 50%); }
        .navbar-lang-switcher__flag.navbar-lang-switcher__flag--czechia::after {
          position: absolute;
          content: "";
          background-color: #11457e;
          height: 1.75rem;
          width: 1.75rem;
          -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
                  transform: rotate(45deg);
          rotate: 45dag;
          left: -66.6%;
          overflow: hidden; }
      .navbar-lang-switcher__flag.navbar-lang-switcher__flag--seychelles {
        background: -o-linear-gradient(335deg, #002f6c 0, #002f6c 28%, transparent 20%), -o-linear-gradient(320deg, #fed141 0, #fed141 43%, transparent 45%), -o-linear-gradient(305deg, #d22630 0, #d22630 58%, transparent 60%), -o-linear-gradient(290deg, #ffffff 0, #ffffff 73%, transparent 75%), -o-linear-gradient(275deg, #007a33 0, #007a33 90%);
        background: linear-gradient(115deg, #002f6c 0, #002f6c 28%, transparent 20%), linear-gradient(130deg, #fed141 0, #fed141 43%, transparent 45%), linear-gradient(145deg, #d22630 0, #d22630 58%, transparent 60%), linear-gradient(160deg, #ffffff 0, #ffffff 73%, transparent 75%), linear-gradient(175deg, #007a33 0, #007a33 90%); }
      .navbar-lang-switcher__flag.navbar-lang-switcher__flag--grenadines {
        background: -webkit-gradient(linear, left top, right top, color-stop(25%, #0033a0), color-stop(25%, #ffd100), color-stop(75%, #ffd100), color-stop(75%, #00b140));
        background: -o-linear-gradient(left, #0033a0 25%, #ffd100 25%, #ffd100 75%, #00b140 75%);
        background: linear-gradient(to right, #0033a0 25%, #ffd100 25%, #ffd100 75%, #00b140 75%); }
        .navbar-lang-switcher__flag.navbar-lang-switcher__flag--grenadines::after {
          content: "";
          position: absolute;
          left: 50%;
          top: calc(50% + 0.3rem);
          -webkit-transform: translate(-50%, -50%) scaleY(1.75) rotate(45deg);
              -ms-transform: translate(-50%, -50%) scaleY(1.75) rotate(45deg);
                  transform: translate(-50%, -50%) scaleY(1.75) rotate(45deg);
          width: 0.2rem;
          height: 0.2rem;
          background: #00b140;
          -webkit-box-shadow: -0.3rem 0 0 #00b140, 0 -0.3rem 0 #00b140;
                  box-shadow: -0.3rem 0 0 #00b140, 0 -0.3rem 0 #00b140; }
      .navbar-lang-switcher__flag.navbar-lang-switcher__flag--maldives {
        background-color: #007a33;
        background-image: -webkit-gradient(linear, left top, right top, color-stop(16%, #d22630), color-stop(16%, transparent), color-stop(84%, transparent), color-stop(84%, #d22630)), -webkit-gradient(linear, left top, left bottom, color-stop(16%, #d22630), color-stop(16%, transparent), color-stop(84%, transparent), color-stop(84%, #d22630)), radial-gradient(circle at calc(50% + 0.3rem), #007a33 0.35rem, transparent 0.4rem), radial-gradient(circle at calc(50% + 0.1rem), #ffffff 0.35rem, transparent 0.4rem);
        background-image: -o-linear-gradient(left, #d22630 16%, transparent 16%, transparent 84%, #d22630 84%), -o-linear-gradient(top, #d22630 16%, transparent 16%, transparent 84%, #d22630 84%), -o-radial-gradient(calc(50% + 0.3rem), circle, #007a33 0.35rem, transparent 0.4rem), -o-radial-gradient(calc(50% + 0.1rem), circle, #ffffff 0.35rem, transparent 0.4rem);
        background-image: linear-gradient(to right, #d22630 16%, transparent 16%, transparent 84%, #d22630 84%), linear-gradient(to bottom, #d22630 16%, transparent 16%, transparent 84%, #d22630 84%), radial-gradient(circle at calc(50% + 0.3rem), #007a33 0.35rem, transparent 0.4rem), radial-gradient(circle at calc(50% + 0.1rem), #ffffff 0.35rem, transparent 0.4rem); }
      .navbar-lang-switcher__flag.navbar-lang-switcher__flag--us {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(7.69%, #b22234), color-stop(7.69%, #ffffff), color-stop(15.38%, #ffffff), color-stop(15.38%, #b22234), color-stop(23.07%, #b22234), color-stop(23.07%, #ffffff), color-stop(30.76%, #ffffff), color-stop(30.76%, #b22234), color-stop(38.45%, #b22234), color-stop(38.45%, #ffffff), color-stop(46.14%, #ffffff), color-stop(46.14%, #b22234), color-stop(53.83%, #b22234), color-stop(53.83%, #ffffff), color-stop(61.52%, #ffffff), color-stop(61.52%, #b22234), color-stop(69.21%, #b22234), color-stop(69.21%, #ffffff), color-stop(76.9%, #ffffff), color-stop(76.9%, #b22234), color-stop(84.59%, #b22234), color-stop(84.59%, #ffffff), color-stop(92.28%, #ffffff), color-stop(92.28%, #b22234));
        background: -o-linear-gradient(top, #b22234 7.69%, #ffffff 7.69%, #ffffff 15.38%, #b22234 15.38%, #b22234 23.07%, #ffffff 23.07%, #ffffff 30.76%, #b22234 30.76%, #b22234 38.45%, #ffffff 38.45%, #ffffff 46.14%, #b22234 46.14%, #b22234 53.83%, #ffffff 53.83%, #ffffff 61.52%, #b22234 61.52%, #b22234 69.21%, #ffffff 69.21%, #ffffff 76.9%, #b22234 76.9%, #b22234 84.59%, #ffffff 84.59%, #ffffff 92.28%, #b22234 92.28%);
        background: linear-gradient(to bottom, #b22234 7.69%, #ffffff 7.69%, #ffffff 15.38%, #b22234 15.38%, #b22234 23.07%, #ffffff 23.07%, #ffffff 30.76%, #b22234 30.76%, #b22234 38.45%, #ffffff 38.45%, #ffffff 46.14%, #b22234 46.14%, #b22234 53.83%, #ffffff 53.83%, #ffffff 61.52%, #b22234 61.52%, #b22234 69.21%, #ffffff 69.21%, #ffffff 76.9%, #b22234 76.9%, #b22234 84.59%, #ffffff 84.59%, #ffffff 92.28%, #b22234 92.28%); }
        .navbar-lang-switcher__flag.navbar-lang-switcher__flag--us::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          background-color: #3c3b6e;
          height: 53.83%;
          width: 65%; }
        .navbar-lang-switcher__flag.navbar-lang-switcher__flag--us::after {
          content: "\2605";
          position: absolute;
          top: 0;
          left: -0.45rem;
          color: #ffffff;
          font-size: 0.275rem;
          text-shadow: 0.45rem 0 0 #ffffff, 0.9rem 0 0 #ffffff, 1.35rem 0 0 #ffffff, 0.675rem 0.225rem 0 #ffffff, 1.125rem 0.225rem 0 #ffffff, 0.45rem 0.45rem 0 #ffffff, 0.9rem 0.45rem 0 #ffffff, 1.35rem 0.45rem 0 #ffffff, 0.675rem 0.675rem 0 #ffffff, 1.125rem 0.675rem 0 #ffffff; }
    .navbar-lang-switcher__country-name {
      white-space: nowrap;
      margin-left: 0.5rem; }

.navbar-sign-out {
  height: 100%; }
  .navbar-sign-out__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    width: 10rem;
    color: rgba(0, 0, 0, 0.54);
    -webkit-transition-property: opacity, color;
    -o-transition-property: opacity, color;
    transition-property: opacity, color;
    -webkit-transition-duration: 0.35s;
         -o-transition-duration: 0.35s;
            transition-duration: 0.35s;
    position: relative; }
    .navbar-navbar-sign-out_icon {
      -webkit-transition: opacity 0.35s;
      -o-transition: opacity 0.35s;
      transition: opacity 0.35s;
      position: absolute;
      left: 0; }
      .navbar-navbar-sign-out_icon:nth-of-type(1) {
        opacity: 1; }
      .navbar-navbar-sign-out_icon:nth-of-type(2) {
        opacity: 0; }
    .navbar-sign-out__letters-wrapper {
      position: absolute;
      left: 2rem;
      -webkit-transition-property: opacity;
      -o-transition-property: opacity;
      transition-property: opacity;
      -webkit-transition-duration: 0.35s;
           -o-transition-duration: 0.35s;
              transition-duration: 0.35s; }
      .navbar-sign-out__letter {
        display: inline-block;
        -webkit-transition-property: -webkit-transform;
        transition-property: -webkit-transform;
        -o-transition-property: transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
        -webkit-transition-duration: 0.35s;
             -o-transition-duration: 0.35s;
                transition-duration: 0.35s; }
      .navbar-sign-out__letters-wrapper:nth-of-type(1) {
        opacity: 1; }
        .navbar-sign-out__letters-wrapper:nth-of-type(1) .navbar-sign-out__letter {
          -webkit-transform: translateY(0);
              -ms-transform: translateY(0);
                  transform: translateY(0); }
      .navbar-sign-out__letters-wrapper:nth-of-type(2) {
        opacity: 0; }
        .navbar-sign-out__letters-wrapper:nth-of-type(2) .navbar-sign-out__letter:nth-of-type(odd) {
          -webkit-transform: translateY(-100%);
              -ms-transform: translateY(-100%);
                  transform: translateY(-100%); }
        .navbar-sign-out__letters-wrapper:nth-of-type(2) .navbar-sign-out__letter:nth-of-type(even) {
          -webkit-transform: translateY(100%);
              -ms-transform: translateY(100%);
                  transform: translateY(100%); }
    .navbar-sign-out__button:hover {
      color: #3849aa; }
      .navbar-sign-out__button:hover .navbar-navbar-sign-out_icon:nth-of-type(1) {
        opacity: 0; }
      .navbar-sign-out__button:hover .navbar-navbar-sign-out_icon:nth-of-type(2) {
        opacity: 1; }
      .navbar-sign-out__button:hover .navbar-sign-out__letters-wrapper .navbar-sign-out__letter {
        color: #3849aa; }
      .navbar-sign-out__button:hover .navbar-sign-out__letters-wrapper:nth-of-type(1) {
        opacity: 0; }
        .navbar-sign-out__button:hover .navbar-sign-out__letters-wrapper:nth-of-type(1) .navbar-sign-out__letter:nth-of-type(even) {
          -webkit-transform: translateY(-100%);
              -ms-transform: translateY(-100%);
                  transform: translateY(-100%); }
        .navbar-sign-out__button:hover .navbar-sign-out__letters-wrapper:nth-of-type(1) .navbar-sign-out__letter:nth-of-type(odd) {
          -webkit-transform: translateY(100%);
              -ms-transform: translateY(100%);
                  transform: translateY(100%); }
      .navbar-sign-out__button:hover .navbar-sign-out__letters-wrapper:nth-of-type(2) {
        opacity: 1; }
        .navbar-sign-out__button:hover .navbar-sign-out__letters-wrapper:nth-of-type(2) .navbar-sign-out__letter {
          -webkit-transform: translateY(0);
              -ms-transform: translateY(0);
                  transform: translateY(0); }

/*# sourceMappingURL=styles.css.map */
