$primary: #3849aa;
$secondary: #e0c52a;
$success: #32cb00;

$dark-secondary: rgba(#000, 0.54);
$dark-disabled: rgba(#000, 0.38);

$light: #ffffff;
$grey-50: #fafafa;
$grey-100: #f5f5f5;
$grey-300: #e0e0e0;

$shadow-10: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);
$shadow-20: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.2);

$shadow-primary: 0 0.75rem 1.25rem rgba($primary, 0.2);
$shadow-secondary: 0 0.75rem 1.25rem rgba($secondary, 0.2);

$gradient-primary: linear-gradient(
  45deg,
  $primary 0,
  lighten($primary, 17%) 50%,
  $primary 100%
);
$gradient-secondary: linear-gradient(
  45deg,
  $secondary 0,
  lighten($secondary, 15%) 75%,
  $secondary 100%
);

$font-size-xxs: 0.625rem;
$font-size-xs: 0.75rem;
$font-size-sm: 0.9rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 2rem;

$transition-duration-short: 0.2s;
$transition-duration-long: 0.35s;

$font-weight-normal: 400;
$font-weight-bold: 700;

$full-size-navbar-width: 10rem;
$collapsed-navbar-width: 3.5rem;

html {
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

span,
p {
  color: $dark-secondary;
  font-size: $font-size-sm;
  line-height: 1.25;
}

h2 {
  font-size: $font-size-xl;
  color: $dark-secondary;
}

h3 {
  font-size: $font-size-md;
  color: $dark-secondary;
  text-transform: uppercase;
}

button {
  font-size: $font-size-sm;
  color: $dark-secondary;
  padding: 0;
  line-height: 1.1;
  transition: color $transition-duration-short;
  cursor: pointer;
  border: none;
  background: none;

  &:hover,
  &:focus {
    color: $primary;
  }
}

@mixin cubic-bezier-transition($properties...) {
  @include cubic-bezier-transition-with-duration(
    $transition-duration-short,
    $properties
  );
}

@mixin cubic-bezier-transition-with-duration($duration, $properties...) {
  transition-property: $properties;
  transition-duration: $duration;
  transition-timing-function: cubic-bezier(0.24, 0.22, 0.015, 1.56);
}

.app {
  display: flex;
  flex-direction: row;
  min-height: 100vh;

  @include cubic-bezier-transition(transform);

  @at-root .app__page {
    background: $grey-50;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
    width: calc(100% - #{$full-size-navbar-width});
    z-index: 1;
  }
}
